.section {
  margin: 10px;
  box-shadow: 0px 0px 4px 1px #ccc;
}

.section__header {
  background: white;
  border: 1px solid #eee;
  height: 80px;
  display: grid;
  grid-template-columns: auto 200px 200px;
}

.section__headerText {
  font-size: 32px;
  margin: 20px;
  grid-row-start: 1;
  white-space: nowrap;
}

.section__container {
  align-items: center;
  background: white;
  border: 1px solid #eee;
  min-height: 100px;
  justify-content: center;
}
@media (max-width: 960px) {
  .section__header {
    height: auto;
    grid-template-columns: auto;
    grid-gap: 20px;
  }
}
