html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  background-color: #eee;
  margin: auto;
  max-width: 1000px;
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  word-break: break-word;
}
