.buttons__button {
  background: none;
  border: none;
  cursor: pointer;
  color: teal;
  font-size: 18px;
  font-family: "Montserrat";
  transition: 0.3s;
  margin: auto;
}

.buttons__button:disabled {
  color: #777;
}

.buttons__button:disabled:hover {
  color: #434343;
  cursor: not-allowed;
}

.buttons__button:hover {
  color: rgb(4, 201, 201);
}

@media (max-width: 960px) {
  .buttons__button {
    margin-bottom: 20px;
  }
}
